body {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: auto;
    margin-top: 10%;
    width: 100%;
}

@media screen and (orientation: landscape) {
    body {
        flex-direction: row;
    }
    img {
        width: 50%;
    }
    button {
        padding: 1%;
    }
}

@media screen and (orientation: portrait) {
    body {
        flex-direction: column;
    }
    img {
        width: 100%;
    }
    button {
        padding: 10%;
    }
}